/*IMPORTANDO FONT*/
@font-face {
    font-family: "Roboto-Regular";
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: "Roboto-Medium";
    src: url(../fonts/Roboto/Roboto-Medium.ttf);
}

@font-face {
    font-family: "TitilliumWeb";
    src: url(../fonts/Titillium_Web/TitilliumWeb-SemiBold.ttf);
}

/* RETIRANDO AS MARGINS E BORDA DO NAVEGADOR*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*  RESET NAVEGADOR*/

body {
    font-family: "Roboto-Regular";

}

/* INICIO CSS HEADER*/
.cabecalho {
    background-color: black;
    padding-top: 4px;
    padding-bottom: 4px;
}

.container-grid {
    max-width: 1260px;
    margin: 0 auto;
    display: flex;
    height: 100%;
}

.header-flex {
    display: flex;
    justify-content: end;


}

.menu-principal {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.menu-principal a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    padding: 20px 15px 20px 15px;

}

/* FIM CSS HEADER*/

/* ******* INICIO  PRIMEIRA DIV  MAIN*************/

.banner {

    height: 610px;
    width: 100%;
    background-color: #918d8d;

}

.banner-box {
    display: flex;
    justify-content: center;
    width: 100%;
    background-image: linear-gradient(to right, #080864, #918d8d);

    /* background-image: linear-gradient(to right,#0d0d97 , #b3b3b3); */
    align-items: center;
    height: 100%;


}

.texto-saudacao {
    display: flex;
    justify-content: center
}

.texto-saudacao h3 {
    display: inline;
    padding: 0px 8px;
    margin: 23px 3px;

}

.texto-saudacao h2 {
    display: inline;
}

.banner-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: white;
    width: 625px;
    height: auto;
    margin: -120px 40px;



}

.banner-info h1 {
    font-family: "TitilliumWeb";
    font-size: 55px;
    text-align: center
}

.banner-info h2 {
    font-family: "TitilliumWeb";
    font-size: 55px;
    text-align: center
}

.banner-info p {
    font-size: "Roboto-Medium";
    text-align: center;
    font-size: 24px;
    margin-top: auto
}

/* FIM PRIMEIRA DIV */
/* INICIO  SEGUNDO DIV  */

.banner-segundo-box {
    height: 100%;
    padding: 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center
}

.banner-segundo {
    width: 100%;
    min-height: 660px;
    background: #c2bfbf;
    background-repeat: no-repeat;
    background-size: 100% 100%;

}

.perfil {
    width: 375px;
    height: 500px;
    border-radius: 215px;
    margin: 30px;
    box-shadow: -6px 23px 47px #363535;
}

.apresentacao {
    text-align: left;
    width: 455px;
    height: 530px;
}

.caixa-btn {
    display: flex;
    justify-content: center;

}

.btn-d {
    border: 1px solid darkblue;
    color: black;
    width: 130px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.banner-dois-info {
    width: 385px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    color: black;
    text-align: center
}




.banner-dois-info h2 {
    margin-top: 20px;
    font-family: "TitilliumWeb";
    font-size: 30px
}

/* FIM SEGUNDO BANNER  */

/* INICIO TERCEIRA DIV */

.banner-terceiro-box {
    display: inline;
    justify-content: space-around;
    height: 100%
}

.banner-terceiro {
    width: 100%;
    min-height: 595px;
    height: auto;
    color: white;
    background: #13135f;
    background-repeat: no-repeat;
    background-size: 100% 100%;

}

.titulo-certific h1 {
    display: flex;
    justify-content: center;

}

.caixa-certific {
    display: inherit;
    justify-content: center;
    border: 1px solid;
}


.caixa-link {
    display: flex;
    justify-content: center;
    align-items: baseline;
    height: 100%
}

.nav {
    display: flex;
    justify-content: center;
    margin-left: 90px;
    width: 287px;
    border: 1px solid white;
    border-radius: 36px;

}

.nav h2 {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    font-family: "TitilliumWeb";
    font-size: 24px;
    margin-top: 20px;
    color: white;



}

.nav h1 {
    display: flex;
    justify-content: center;

}

.img-diploma {
    margin: 3px 60px;
    height: 10vw;
}

.caixa-btn-c {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 24px;

}

.banner-quarto {
    width: 100%;
    min-height: 830px;
    height: auto;
    color: white;
    background: #c2bfbf;
    background-repeat: no-repeat;
    background-size: 100% 100%;


}

.banner-quarto-box {
    display: inline;
    justify-content: space-around;
    height: 100%
}

.titulo-projeto h1 {
    font-size: 55px;
    margin-top: 65px;
    margin-left: 165px;


}

.caixa-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: black;
    width: 100%;
    align-items: center;

}

.card-projetos {
    box-shadow: -6px 23px 47px #363535;
    border-radius: 35px;
    border: none;
    background: #c2bfbf;
    width: 892px;
    margin: 22px;
    min-height: 190px
}

.card-itens {
    margin: 22px;



}

.card-body {
    /* min-width: 844px; */
}


.card-img {
    box-shadow: 4px 11px 17px #363535;
    margin-top: 10px
}






/* INICIO RODAPE/FOOTER */

/* FIM RODAPE/FOOTER */

/* MIDIA CELULAR */

@media screen and (max-width: 767px) {

    .header-flex {
        margin-top: 10px;
        height: 60px;

    }

    .cabecalho {
        padding: 20px 25px
    }

    .menu-bars {
        width: 45px;
        color: white;
        width: 35px;

    }


    .navbarShow {
        left: 0 !important
    }

    .menu-principal {
        position: fixed;
        /* VIEWPORT/JANELA */
        top: 0;
        left: -330px;
        z-index: 1;
        width: 75%;
        height: 100%;
        background: rgb(30, 28, 33, 0.9);
        flex-direction: column;
        text-align: left;
        justify-content: center;

    }

    .menu-principal a {

        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 80%;
        height: 10%;
        border-left: 3px dotted white;
        margin-left: 16px;
        margin-bottom: 25px;

    }

    .banner-info {
        width: 338px;
    }

    .banner-info h1 {
        font-size: 33px;
    }


    .texto-saudacao {
        display: flex;
        justify-content: center
    }

    .texto-saudacao h3 {
        display: inline;
        padding: 0px 8px;
        margin: 12px -2px;

    }

    .texto-saudacao h2 {
        display: inline;
        font-size: 33px;
    }



    .banner-dois-info {
        text-align: center;
        margin: 10px 25px;
        margin-left: 8%;
        width: 335px;
        height: 40%;

    }

    .banner-segundo-box {
        display: inline;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    .perfil {
        width: 265px;
        height: 345px;
        margin: 30px 63px;

    }

    .apresentacao {
        display: inline;
        width: 332px;
        height: auto;
        margin: 1px -4px;

    }

    .caixa-btn {
        display: flex;
        justify-content: end;
        margin-left: -10px;
        margin-top: 55px;

    }

    .banner-terceiro {
        width: 100%;
        min-height: 830px;
        height: auto;
        color: white;
        background: darkblue;
        background-repeat: no-repeat;
        background-size: 100% 100%;

    }

    .titulo-certific h1 {
        display: flex;
        justify-content: start;
        margin: 3px 15px;
    }

    .caixa-link {

        display: inline;
        justify-content: center;
        flex-direction: column;
        align-items: baseline;
        height: 100%
    }

    .nav {
        margin-left: 90px;
        width: auto;
        margin: 5vw 13vw;
        border-radius: 36px;
        border: 1px solid white
    }

    .img-diploma {
        margin: 3px 60px;
        height: 40vw;
    }

    .card-body {
        min-width: auto;
    }

    .titulo-projeto h1 {
        font-size: 65px;
        display: flex;
        justify-content: start;
        margin: 30px 35px;


    }




    .caixa-card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: black;
        width: 100%;
        align-items: center;

    }

    .card-projetos {
        box-shadow: -6px 23px 47px #363535;
        border-radius: 35px;
        border: none;
        background: #c2bfbf;
        width: 335px;
        margin: 22px;
    
    }

    .card-itens {
        margin: 15px;
    }







}

/* MIDIA TABLET */
@media screen and (max-width: 991px) {

    .banner-box {
        justify-content: center;


    }


    .banner-dois-info {
        margin-left: 8%;
        width: 385px;
        height: 40%;



    }




    .header-flex {
        margin-top: 10px;
        height: 60px;

    }

    .cabecalho {
        padding: 20px 25px;


    }

    .logotipo {
        width: 210px;



    }

    .menu-bars {
        width: 45px;
        color: white;
        width: 35px;

    }


    .navbarShow {
        left: 0 !important;


    }

    .logo-footer {
        display: none;



    }

    .menu-principal a {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 80%;
        height: 10%;
        font-size: 1.5rem;
        border-left: 3px dotted white;
        margin-left: 20px;
        margin-bottom: 25px;
        /*  background-color: rgba(255, 255, 255, 0.8); */



    }

    .menu-principal {
        position: fixed;
        /* VIEWPORT/JANELA */
        top: 0;
        left: -725px;
        z-index: 1;
        width: 75%;
        height: 100%;
        background: rgb(30, 28, 33, 0.9);
        flex-direction: column;
        text-align: left;
        justify-content: center;


    }





}






/* midia desktop */
@media screen and (min-width: 992px) {
    .menu-bars {
        display: none;
        width: 45px;
        color: white;
        width: 35px;
    }


    .navbarShow {
        left: 0 !important;


    }




}








/* FIM MIDIA SCREEN SEGUNDO BANNER */